<ul class="nav pull-right">
  <li><a href="../">All Versions</a></li>
  <li><a href="https://github.com/FamilySearch/familysearch-javascript-sdk">GitHub</a></li>
</ul>
<p class="navbar-text">Version <%= docVersion %></p>